{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <article class="message is-success">
        <div class="message-body">
            <p>{{ message }}</p>
        </div>
    </article>
{% endfor %}

{% if id == current_user.id %}

<h1 class='title'>Update User</h1><br/>
<br/><br/>
    <form action="/update/{{ name_to_update.id }}" method="POST">
        <div class='field'>
        {{ form.hidden_tag() }}
        {{ form.name.label(class='label') }}
        {{ form.name(class='input', value=name_to_update.name) }}
        </div>
        <div class='field'>
        {{ form.username.label(class='label') }}
        {{ form.username(class='input', value=name_to_update.username) }}
        </div>
        <div class='field'>
        {{ form.email.label(class='label') }}
        {{ form.email(class='input', value=name_to_update.email) }}
        </div>
        <div class='field'>
        {{ form.favorite_color.label(class='label') }}
        {{ form.favorite_color(class='input', value=name_to_update.favorite_color) }}
        </div>
        <div class="field">
        {{ form.submit(class='button') }}
        <a class='button' href="{{ url_for('delete', id=id) }}">delete</a>
        </div>
    </form>
    <br/><br/>
{% else %}
<article class="message is-danger">
    <div class="message-body">
        <p>You can't edit this user</p>
    </div>
</article>
<h1>Access Denied!</h1>
<p>Sorry you cannot access this user profile</p>

{% endif %}
{% endblock %}

